body{
    background-color: beige;
}
.first-article{
    background-color: white;
    border:1px solid;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
}
span{
    background-color: orange;
}
.second-article,h2{
   color: red;
}
.second-article{
    background-color: white;
    border:dotted red;
    width: 80%;
    padding: 10px;
}
#third-p{
    border:dotted red;  
}