* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

#quizContainer {
  background-color: white;
  width: 90%;
  max-width: 900px;
  margin: 70px auto 0;
  margin-top: 50px;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#quizContainer h1 {
  font-size: 25px;
  font-weight: 600;
}

.quiz h2 {
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(252, 221, 163);
  padding: 15px;
  border-radius: 5px;
}

.quiz h2 span {
  padding: 5px 10px;
  margin-right: 5px;
}

.btn {
  font-weight: 500;
  width: 45%;
  padding: 15px;
  margin: 15px 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  background-color: rgb(0, 25, 98);
}

#next-btn {
  background-color: rgb(252, 221, 163);
  font-weight: 500;
  width: 150px;
  padding: 10px;
  margin: 20px 20px;
  cursor: pointer;
  display: none;
}

#next-btn:hover {
  background-color: rgb(255, 182, 46);
}

#showAnswer {
  font-weight: 500;
  width: 150px;
  padding: 10px;
  margin: 20px 20px;
  cursor: pointer;
  display: none;
}

#timer {
  font-size: 20px;
  font-weight: 500;
  margin-right: 25px;
  margin-top: 0;
  text-align: end;
}

#showAnswerButtons {
  display: flex;
  justify-content: center;
}

.answer-buttons .btn {
  margin: 10px 5px;
  width: 48%;
  font-weight: 500;
  width: 45%;
  padding: 15px;
  margin: 15px 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}
